.azul {color:blue}
.verde {color:green}
.rojo {color: red;}
#fondonegro {background-color: black;} 
#borde {font-style: italic;}
p {color: aliceblue;}
h2 {color: azure;}
form {color: blanchedalmond;}
ul {color: blanchedalmond;}
ol {color: blanchedalmond;}
table {color: blanchedalmond;}